@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css";

body {
  padding-top: 3.5rem;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
h1 {
  padding-top: 10px;
  color: #4e5655;
}
.main-container {
  padding: 3rem 1.5rem;
  text-align: center;
  color: #4e5655;
}
.btn-primary {
  background-color: #FFF;
  border-color: #4e5655;
  color: #4e5655;
}

.btn-primary:hover {
  color: #FFFFFF!important;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn:hover {
  cursor: pointer;
}


@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    max-width: 600px;
    margin: 30px auto;
  }
}
