<div class="services text-muted">
  <div class="container">
    <h1>Services</h1>
    <div class="row">
      <div class="card" *ngFor="let service of services">
        <ul class="list-group">
          <li class="list-group-item title"><h2>{{service.serviceName}}</h2></li>
          <li class="list-group-item justify-content-between">
            {{service.deploymentMap["PRIMARY"].runningCount}} / {{service.deploymentMap["PRIMARY"].desiredCount}} tasks running
            &nbsp;<span class="badge badge-warning" *ngIf="service.deploymentMap['PRIMARY'].runningCount &lt; service.deploymentMap['PRIMARY'].desiredCount">&nbsp;Warning&nbsp;</span>
          </li>
          <li class="list-group-item justify-content-between">
            Last successful deploy: {{service.deploymentMap["PRIMARY"].lastDeploy}}
          </li>
          <li class="list-group-item action">
            <a role="button" class="btn btn-primary" routerLink="/service/{{service.serviceName}}"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Details</a>
          </li>
        </ul>
      </div>
  </div>
</div>
