<ng-template #inspect let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{serviceName}}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    @if (loading) {
      <span class="sr-only">Loading...</span>
    }
    <h5>Service info</h5>
    @if (!loading) {
      <div>
        <table class="table center-table">
          <thead class="thead-default">
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ClusterName</td>
              <td>{{deployment.cluster}}</td>
            </tr>
            <tr>
              <td>Deployed at</td>
              <td>{{deployment.deploymentMoment}}</td>
            </tr>
            <tr>
              <td>ServicePort</td>
              <td>{{deployment.servicePort}}</td>
            </tr>
            <tr>
              <td>DesiredCount</td>
              <td>{{deployment.desiredCount}}</td>
            </tr>
          </tbody>
        </table>
        <h5>Container info</h5>
        @for (container of deployment.containers; track container) {
          <table class="table center-table">
            <thead class="thead-default">
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ContainerName</td>
                <td>{{container.containerName}}</td>
              </tr>
              <tr>
                <td>ContainerImage</td>
                @if (container.ContainerImage != '') {
                  <td>{{container.ContainerImage}}</td>
                }
                @if (container.ContainerImage == '') {
                  <td>{{serviceName}}</td>
                }
              </tr>
              <tr>
                <td>ContainerTag</td>
                <td>{{container.containerTag}}</td>
              </tr>
              <tr>
                <td>ContainerPort</td>
                <td>{{container.containerPort}}</td>
              </tr>
              <tr>
                <td>ContainerCommand</td>
                <td>@for (cmd of container.containerCommand; track cmd) {
                  <span>{{cmd}} </span>
                }</td>
              </tr>
            </tbody>
          </table>
        }
      </div>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
